.about-sec,
.mini-blog-sec,
.contact-sec,
#servicios,
#patientgallery {
    width: 100%;
    background: linear-gradient(45deg, #ddcfb5, #e1e1e1, #e1e1e1, #ddcfb5);
    background-size: 4000% 100%;
    position: relative;
    animation: cambiar 10s ease-in-out infinite;
}

@keyframes cambiar {
    0% {
        background-position: 0 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

/* Estilos Generales */
.center {
    text-align: center;
}
.font-Sofia-serif {
    font-family: 'Sofia', serif !important;
}
.back-fff {
    background-color: #ffffff;
}
.div-crem-color{
    background-color: #e1e1e1;
}
/* Fin Estilos Generales */
.lower-nav {
    background-color: #e1e1e1 !important;
}
.nav-link-specific{
    color: #000;
    text-decoration: none;
}
.img-load{
    width:80px;
    height: 30px;
}



/* Seccion home */
.parro {
    background-image: url('public/vista/img/hola.png');
    background-size: cover;
    background-position: center;
    height: 90vh;
}
.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

/* Fin seccion home */
.d-block {
    color: #e1e1e1 !important;
}
.d-block-heading {
    color: #2f4ba5 !important;
    text-decoration: underline;
}
.subtitle{
    color: #e1e1e1 !important;
    font-family: 'Sofia', monospace;
    font-size: 65px;
}

/* section about-sec */
/* Fin section about-sec */

/* Section team-sec */
.team-sec {
    position: relative;
}
.servicio {
    box-shadow: 0 0 20px #2f4ba5;
    padding:-1px;
}
.image-caption {
   margin-top: 10px;
   font-weight: bold;
   color: black; 
}
/* Fin Section team-sec */

/* section patientgallery */
.mySwiper {
    font-size: 14px;
    color: #2f4ba5;
}
.swiper-wrapper {
    width: 100%;
    padding: 20px 0 20px 0;
}


.btn-1-product {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    padding: 1px 40px;
    background-color: #e1e1e1;
    color: #000;
    border: 1px solid #be1c2f;
    border-radius: 25px;
    text-decoration: none;
    text-transform: lowercase;
}

.swiper-slide {
    width: 400px;
    height: 450px;
    background: linear-gradient(#ab760b, #bfbfbf);
    box-shadow: 0 0 20px;
    padding:40px;
    border-radius: 25px;
    border:2px solid #2f4ba5
}

.producto-content-text {
    color: #323232;
    text-transform: capitalize;
    font-size:20px
}

.icon-map-marker{
    margin-right: 5px;
    color: #ff0000;
}
.img-producto-inter{
    width: 300px;
    height: 320px;
    border-radius: 25px;
    border: 2px solid #2f4ba5;
}
/* Fin section patientgallery */

/* Section personal */
.info-personal {
    text-align: center;
    margin: 20px;
}

.btn-personal {
    background-color: #e1e1e1;
    color: #000000;
    border-radius: 15px;
    margin-top: 10px;
    font-weight: bold;
    color: black;
    border: 2px solid #2f4ba5;
}
/* Fin Section personal */

/* Section Contact */
.box {
    border: 2px solid #2f4ba5;
    border-radius: 25px;
    box-shadow: 0 0 20px #2f4ba5;
}
.box-contact-1 {
    height: 400px !important;
}
.box-contact-2 {
    height: 150px !important;
}
.img-contact{
    border-radius: 25px;
    width: 100%;
}
/*  Fin Section Contact */

/* Section Google Maps */
.map {
    width: 1000;
    height: 400;
    border: 0;
    box-shadow: 0 0 20px #2f4ba5;
}
/* Fin Section Google Maps */

/* Section Contact mail */
.box-form {
    width: 100%;
    height: 500px;
}
.input-info {
    height: 100px !important;
}
.text-area-form{
    height: 160px !important;
}
/* Fin Section Contact mail */

/* footer */
footer{
    background-color: #e1e1e1;
}
/* Fin footer */